In [457]:
from pandas import Series, DataFrame
import pandas as pd 
import numpy as np

In [459]:
d16 = pd.read_csv("/Users/kimcw/Desktop/23/33100806.csv")

In [465]:
d = d16[
    ((d16["North American Industry Classification System (NAICS)"] == "Utilities [22]") 
    | (d16["North American Industry Classification System (NAICS)"] == "Manufacturing [31-33]") 
    | (d16["North American Industry Classification System (NAICS)"] == "Transportation and warehousing [48-49]") 
    | (d16["North American Industry Classification System (NAICS)"] == "Retail trade [44-45]") 
    | (d16["North American Industry Classification System (NAICS)"] == "Professional, scientific and technical services [54]") 
    | (d16["North American Industry Classification System (NAICS)"] == "Public administration[91]"))
    & ((d16["GEO"] == "Canada") | (d16["GEO"] == "Ontario") | (d16["GEO"] == "Quebec") | (d16["GEO"] == "British Columbia"))
]

d.head(10)

,REF_DATE,GEO,DGUID,Employment size,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
5,2023-07,Canada,2021A000011124,"Total, with employees",Utilities [22],Number,223,units,0,v1581018895,1.1.6,1416,NaN,NaN,NaN,0
7,2023-07,Canada,2021A000011124,"Total, with employees",Manufacturing [31-33],Number,223,units,0,v1581019397,1.1.8,51934,NaN,NaN,NaN,0
9,2023-07,Canada,2021A000011124,"Total, with employees",Retail trade [44-45],Number,223,units,0,v1581023246,1.1.10,144583,NaN,NaN,NaN,0
10,2023-07,Canada,2021A000011124,"Total, with employees",Transportation and warehousing [48-49],Number,223,units,0,v1581024066,1.1.11,76350,NaN,NaN,NaN,0
14,2023-07,Canada,2021A000011124,"Total, with employees","Professional, scientific and technical service...",Number,223,units,0,v1581026011,1.1.15,158361,NaN,NaN,NaN,0
1366,2023-07,Canada,2021A000011124,1 to 4 employees,Utilities [22],Number,223,units,0,v1581018887,1.2.6,507,NaN,NaN,NaN,0
1368,2023-07,Canada,2021A000011124,1 to 4 employees,Manufacturing [31-33],Number,223,units,0,v1581019389,1.2.8,17764,NaN,NaN,NaN,0
1370,2023-07,Canada,2021A000011124,1 to 4 employees,Retail trade [44-45],Number,223,units,0,v1581023238,1.2.10,51727,NaN,NaN,NaN,0
1371,2023-07,Canada,2021A000011124,1 to 4 employees,Transportation and warehousing [48-49],Number,223,units,0,v1581024058,1.2.11,56083,NaN,NaN,NaN,0
1375,2023-07,Canada,2021A000011124,1 to 4 employees,"Professional, scientific and technical service...",Number,223,units,0,v1581026003,1.2.15,116363,NaN,NaN,NaN,0

In [ ]:
sort_order = ["Utilities [22]", "Manufacturing [31-33]",
              "Transportation and warehousing [48-49]",
              "Retail trade [44-45]",
              "Professional, scientific and technical services [54]","Public administration[91]"]
d['sort_order'] = d['North American Industry Classification System (NAICS)'].apply(lambda x: sort_order.index(x))

d = d.drop(columns=["DGUID", "UOM", "UOM_ID", "SCALAR_FACTOR", "SCALAR_ID", "VECTOR"])
d = d.drop(columns=['STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'], errors='ignore')

d = d[d['Employment size'] == "Total, with employees"]

In [463]:
d.to_csv("C:/Users/kimcw/Desktop/230.csv")